.header_inf {
  height: 165vh;
}

@media screen and (max-width: 850px) {
  .header_inf {
    height: 155vh;
  }
}

@media screen and (max-width: 630px) {
  .header_inf {
    height: 130vh;
  }
}

@media screen and (max-width: 500px) {
  .header_inf {
    height: 115vh;
  }
}
