.cardd {
  height: 20rem;
  width: 18rem;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 1.25rem;
  transition: all 0.3s ease-in-out;
}

.cardd:hover {
  transform: scale(1.1);
}
.cardd > .card-headerr {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.cardd > .card-headerr > img {
  width: 40%;
  height: auto;
  margin-bottom: 2rem;
}
.cardd > .card-headerr > div {
  font-size: 1rem;
  font-weight: 600;
  color: #455164;
}
.cardd > .card-headerr > h6 > span {
  font-size: 0.75rem;
}
.cardd-body > p {
  font-size: 0.75rem;
  text-align: center;
  color: #455164;
}

.cardd-body .card_p {
  line-height: 1.25rem;
}

.margins_l {
  margin-left: 2rem;
}
@media screen and (max-width: 1200px) {
  .cardd {
    height: 18rem;
    width: 17rem;
  }

  .cardd > .card-headerr > img {
    width: 4.5rem;
    height: 4rem;
  }
}

@media screen and (max-width: 1040px) {
  .cardd {
    height: 17rem;
    width: 15rem;
  }
  .cardd-body .card_p {
    font-size: 0.7rem;
  }
  .cardd > .card-headerr > img {
    width: 3.5rem;
    height: 3rem;
  }
}

@media screen and (max-width: 943px) {
  .cardd {
    margin-top: 2rem;
  }

  .cardd {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 943px) {
  .cardd {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 495px) {
  .cardd {
    height: 14.5rem;
    width: 13rem;
  }
  .cardd-body .card_p {
    font-size: 0.55rem;
  }
  .cardd > .card-headerr > img {
    width: 2.5rem;
    height: 2rem;
  }

  .cardd {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
